body {
    padding: 0;
    margin: 0;
}

.header {
    background-color: #393f4d;
    color: white;
    width: 100%;
    margin-top: 0;
}

.game-area {
    display: flex;
    justify-content: center;
}

.game-grid {
    background-color: #bccbde;
    display: grid;
    grid-template: repeat(3, 80px) / repeat(3, 80px);
    gap: 2.5px;
    padding: 5px;
}

.game-square {
    border-radius: 5px;
    border-width: 1px;
    font-size: 64px;
}